<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-row>
        <ion-col size="1">
          <ion-fab-button routerLink="../home" size="small">
            <ion-icon name="home"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-title style="font-family:'Roboto';">
          <ion-img
            style="width:90px; height:40px;"
            src="../../assets/logo.png"
          ></ion-img>
        </ion-title>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
