<ion-header >
  <ion-toolbar >
    <ion-title><ion-img  style="width:50px;"src="https://storage.cloud.google.com/dietdiaryfoodpics/Document-page-001.jpg"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>
<ion-row>
  <ion-col size="0.4"></ion-col>
  <ion-col size="10">
      <ion-auto-complete [(ngModel)]="searchText" (keyup.enter)="onSelected()" (itemSelected)="onSelected()"
      [dataProvider]="autoCompleteLabelsService">
    </ion-auto-complete>
    </ion-col>
    <ion-col size="0.2"></ion-col>

  </ion-row>

  <ion-row >
    <ion-col size="2">
      <ion-button  fill="clear" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8" text-align: center>
      <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-content style="width: 100%">

  <div [ngSwitch]="view">
    <mwl-calendar-month-view 
        [cellTemplate]="customCellTemplate"
    #box id="calendarMonth" 
    *ngSwitchCase="CalendarView.Month" 
    [viewDate]="viewDate"
      [events]="events" 
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="presentPopover($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>

    <ng-template #customCellTemplate let-day="day" let-locale="locale">
      <ion-col>
        <ion-row >
        <div text-align: center>
          <span class="cal-day-number"  style="color:blue;font-weight:bold;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 15px">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        </div>
      </ion-row>
      <ion-row>
        <div>      
              <span class="w3-badge " *ngIf="day.badgeTotal > 0"></span>

          <!-- <span  
            *ngFor="let group of day.eventGroups"
            class="badge badge-pill badge-primary">
            {{ group[1].length }}
          </span> -->
        </div>
      </ion-row>
      </ion-col>
      </ng-template>
    <!-- <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view> -->
    
  </div>
</ion-content>
  <ion-fab vertical="bottom" horizontal="end" >
    <ion-fab-button color="dark" size="medium">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button routerLink="../camera" color="medium" size="small">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>

      <label  for="file-input" >
        <ion-fab-button color="medium" size="small">
          <ion-icon name="link"></ion-icon>
        </ion-fab-button>
      </label>
      <input type="file" id="file-input" accept="image/*" capture="camera" (change)="sendImage($event)"
        style="display: none" />‏
    </ion-fab-list>
  </ion-fab>
