<ion-header>
  <ion-toolbar>
    <ion-title>options</ion-title>
  </ion-toolbar>
</ion-header>
<!--
  Generated template for the OptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-spinner name="bubbles" [hidden]="labels.length != 0"></ion-spinner>
  <img *ngIf="load" [src]="base64Image" />
  <br>
  <ion-label
    ><ion-toggle
      ion-toggle-text
      (ionChange)="changeToggle($event)"
    ></ion-toggle>
  </ion-label>
<br>
  <ion-item *ngIf = "labels.length> 0">
    <ion-list
      ion-item
      *ngFor="let label of labels | slice: 0:paginationLimit"
      [hidden]="labels.length == 0"
    >
      <ion-checkbox
        [disabled]="!label.wanted && this.counter == 10"
        (ionChange)="itemClicked($event)"
        [(ngModel)]="label.wanted"
      ></ion-checkbox
      ><ion-label>{{ label.name }} {{ label.probability }}</ion-label>
    </ion-list>
  </ion-item>
  <ion-item     *ngIf="userLabels > 0">
  <ion-list
    ion-item
    *ngFor="let label of userLabels | slice: 0:userLabels.length"
    [hidden]="labels.length == 0"
  >
    <ion-checkbox
      [disabled]="!label.wanted && this.counter == 10"
      (ionChange)="itemClicked($event)"
      [(ngModel)]="label.wanted"
    ></ion-checkbox
    ><ion-label>{{ label.name }} {{ label.probability }}</ion-label>
  </ion-list>
</ion-item>
  <ion-item   *ngIf = "labels> 0">
  <ion-list
    ion-item
    *ngFor="let label of labels | slice: 0:paginationLimit"
    [hidden]="labels.length == 0"
  >
    <ion-checkbox
      [disabled]="!label.wanted && this.counter == 10"
      (ionChange)="itemClicked($event)"
      [(ngModel)]="label.wanted"
    ></ion-checkbox
    ><ion-label>{{ label.name }} {{ label.probability }}</ion-label>
  </ion-list>
</ion-item>
  <br />
  <ion-item *ngIf="counter < 10">
    <ion-label color="primary" floating>Add Label</ion-label>
    <ion-input
      [(ngModel)]="value"
      #box
      (change)="addedLabel(box.value)"
    ></ion-input>
  </ion-item> 
  <button
    ion-button
    color="primary"
    (click)="uploadData()"
    [hidden]="labels.length == 0"
    routerLink="../home"
  >
    OK
  </button>
</ion-content>
