<ion-header>
  <ion-toolbar>
    <ion-title>options</ion-title>
  </ion-toolbar>
</ion-header>
<!--
    Generated template for the OptionsPage page.
    See http://ionicframework.com/docs/components/#navigation for more info on
    Ionic pages and navigation.
  -->
<ion-content>
  <ion-spinner
    name="bubbles"
    [hidden]="labels.length != 0 || unwantedLabels.length != 0"
  ></ion-spinner>
  <ion-card>
    <ion-card-header>
      <ion-img *ngIf="load" [src]="base64Image"></ion-img>
      <ion-card-title> </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-chip *ngFor="let label of labels">
        <ion-icon name="ios-restaurant" color="primary"></ion-icon>
        <ion-label>{{ label.name }}</ion-label>
        <!-- <ion-button ion-button style="--background:white" > -->
        <ion-icon
          [id]="label.name"
          name="close"
          (click)="moveToUnwanted($event)"
        ></ion-icon>
        <!-- </ion-button> -->
      </ion-chip>
      <ion-button
        class="buttonIcon"
        ion-button
        shape="round"
        size="small"
        color="primary"
        (click)="add()"
      >
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <!-- <ion-item > -->
      <ion-input
        *ngIf="counter < 10"
        color="primary"
        type="text"
        [(ngModel)]="value"
        #box
        (change)="addedLabel(box.value)"
        placeholder="Add Label"
        id="addL"
      ></ion-input>
      <ion-button
  expand="block"
    ion-button
    color="primary"
    (click)="uploadData()"
    [hidden]="labels.length == 0"
  >
    Save To Calendar
  </ion-button>
      <!-- </ion-item> -->
    </ion-card-content>
  </ion-card>
  <br />

  <ion-chip *ngFor="let label of unwantedLabels">
    <!-- <ion-icon name="ios-restaurant" color="primary"></ion-icon> -->
    <ion-label>{{ label.name }}</ion-label>
    <ion-icon
      [id]="label.name"
      name="md-arrow-up"
      (click)="moveToWanted($event)"
    ></ion-icon>
  </ion-chip>
  <br />
  
</ion-content>


<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
     
    <ion-fab-button routerLink="../camera">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-fab-button routerLink="../home">
      <ion-icon name="calendar"></ion-icon>
    </ion-fab-button>
    <label style="size: 5000px" for="file-input">
      <ion-fab-button >
       <ion-icon name="link"></ion-icon>
      </ion-fab-button>
    </label>
    <input  
    type="file" 
    id="file-input" 
    accept="image/*" 
    capture="camera"
    (change)="sendImage($event)" 
    style="display: none"/>‏ 
    
  </ion-fab-list>
</ion-fab>