p{
    font-family: "Roboto";
    font-size: 50px;
}
// .wrapper p {
//     color: red;
//     font: 300 4em/150% Impact;
//     position: absolute;
//       z-index: 50;
//       top: 50px;
//       opacity: 0.7;
//       vertical-align: middle;
//     text-align: center;
//     //padding-left:  22%;

//   }
  a{
      text-align: center;
  }
.txt{
    color: green;
    font: 100 3em/150% Impact;
    position: absolute;
      z-index: 50;
      top: 20%;
      opacity: 0.7;
      vertical-align: middle;
    text-align: center;
    padding-left:  14%;
}
ion-content{
   
      --ion-background-color:rgb(58, 59, 58);
        // url("../../assets/292.jpg") no-repeat center center / cover;
   }
   input.searchbar{
   
background: white !important;}
