<ion-header >
  <ion-toolbar>
    <ion-title ><ion-img  style="width:100px;"src="https://storage.cloud.google.com/dietdiaryfoodpics/Document-page-001.jpg"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>
<ion-row>
  <ion-col size="0.5"></ion-col>
  <ion-col size="10">
      <ion-auto-complete style="height:120%;" [(ngModel)]="searchText" (keyup.enter)="onSelected()" (itemSelected)="onSelected()"
      [dataProvider]="autoCompleteLabelsService">
    </ion-auto-complete>
    </ion-col>
    <ion-col size="0.02"></ion-col>
  </ion-row>

<ion-content padding>
    <ion-list ion-item *ngFor="let meal of meals">
        <ion-card>
            <img [src]="meal.Path"/>
            <ion-card-content>
                  {{meal.DateOfPic|date: 'dd/MM/yyyy  - hh:mm'}}

            </ion-card-content>
            <ion-card-content>
              <span style="color:#005D57;font-weight: bold">{{data}}</span>
              <span *ngFor="let lab of meal.Labels">,
              <span  *ngIf="lab !== data">
              {{lab}} 
                </span>
              </span>
        </ion-card-content>
          </ion-card>
    </ion-list>
 <p [hidden]=[display]>you didn't eat any {{data}} yet</p>
</ion-content>

